QuoteExport/Web References/Pauchie/PAUCHIEWEBSERVICE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.Pauchie.com/" targetNamespace="http://www.Pauchie.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="doDASSM" type="tns:doDASSM" />
  <xs:element name="doDASSMResponse" type="tns:doDASSMResponse" />
  <xs:element name="getAllBaseInfo" type="tns:getAllBaseInfo" />
  <xs:element name="getAllBaseInfoResponse" type="tns:getAllBaseInfoResponse" />
  <xs:element name="getIncrementBaseInfo" type="tns:getIncrementBaseInfo" />
  <xs:element name="getIncrementBaseInfoResponse" type="tns:getIncrementBaseInfoResponse" />
  <xs:element name="notifyOptimizationToBeFinished" type="tns:notifyOptimizationToBeFinished" />
  <xs:element name="notifyOptimizationToBeFinishedResponse" type="tns:notifyOptimizationToBeFinishedResponse" />
  <xs:element name="readExcel" type="tns:readExcel" />
  <xs:element name="readExcelResponse" type="tns:readExcelResponse" />
  <xs:element name="writeCsv" type="tns:writeCsv" />
  <xs:element name="writeCsvResponse" type="tns:writeCsvResponse" />
  <xs:element name="writeExcel" type="tns:writeExcel" />
  <xs:element name="writeExcelResponse" type="tns:writeExcelResponse" />
  <xs:complexType name="getAllBaseInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllBaseInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIncrementBaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIncrementBaseInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="writeExcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="filePath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="writeExcelResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="notifyOptimizationToBeFinished">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notifyOptimizationToBeFinishedResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="readExcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="filePath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="readExcelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doDASSM">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doDASSMResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="writeCsv">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="writeCsvResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>